@font-face {
  font-family: 'Yeseva One';
  src: url('fonts/YesevaOne-Regular.ttf') format('truetype');
  font-family: 'Nunito Sans';
  src: url('fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Nunito Sans', Arial;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
}
.button:hover, .button-calculate:hover, .submit-btn:hover, .price-button:hover, .customers-button-1:hover, .customers-button-2:hover {
    background: #d49837;
}

.logo {
    color: #E3B873;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header, .completed-projects, .hero {
    background-color: #131313;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation_item {
    margin-right: 47px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
}

.header-navigation_item:hover a {
    color: #E3B873;
}

.header-navigation_item a {
    text-decoration: none;
    color: white;
}

.header-phone {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.hero {
    width: 100%;
    background-image: url('./images/hero.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    width: ;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.city-highlight {
    color: #E3B873;
}

.tittle-description {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.button-calculate {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 18px 40px;
    color: white;
    text-transform: uppercase;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    font-weight: 700;
    min-width: 207px;
}

.button-submit {
    background: rgba(255, 255, 255, 0.1);
    border-color: #E3B873;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 18px 29px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    font-weight: 700; 
    min-width: 207px;
}

.button-submit:hover {
    background: white;
    color: black;
}

.hero-container .button-calculate {
    margin-right: 20px;
}

.completed-projects {
    background-color: #131313;
    padding-top: 80px;
    position: relative;
}

.completed-projects .projects-container {
    display: flex;
    width: 100%;          
    margin: 0 auto;
    position: relative;
    min-height: 1000px;  
    justify-content: space-between;    
}

.left {
    max-width: 25%;
}

.right {
    max-width: 65%;
}

.project-nav {
    display: flex;
    gap: 30px;
    white-space: nowrap;
    overflow-x: auto;
    z-index: 10; 
}

.project-nav .project-nav-link {
    font-family: 'Yeseva One', cursive;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    white-space: nowrap;
}

.project-nav .project-nav-link.active,
.project-nav .project-nav-link:hover {
    color: #E3B873;
    border-bottom-color: #E3B873;
}

.project-image, .projects-left {
    margin-top: 50px;
}

.project-image img {
    max-width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

.projects-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.projects-description {
    margin: 0 0 40px 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.project-image-mobile {
    display: none;
    position: relative;
}

.project-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 40px;
}

.info-item {
    display: flex;
    flex-direction: column;
}

.info-label {
    margin: 0 0 8px 0;
    letter-spacing: 1px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.info-value {
    text-transform: uppercase;
    margin: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.repair-icons, {
    display: flex;
    gap: 15px;
    margin-top: 79px;
    align-items: center;
    width: 205.68px;
    height: 13.28px;
}

.repair-icons img, {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -350px;
    position: relative;
    z-index: 5;
}

.online-control-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12,79px;
}

.camera-icon, .hand-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 9.47px;  
}

.camera-icon::before,
.camera-icon::after,
.hand-icon::before,
.hand-icon::after {
    content: "";
    width: 32px;
    height: 1.54px;
    background: #E3B873;
    border-radius: 30px;
    display: inline-block;
}

.camera-icon img, .hand-icon img {
    width: auto;
    height: auto;
    display: block;
}

.repair-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 31.21px;
}

.repair-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image-wrapper .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* затемнение */
    pointer-events: none;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
    width: auto;
    height: auto;
    filter: none !important;
}

.repair-line {
    width: 55px;
    height: 1.54px;
    background: #E3B873;
    border-radius: 30px;
    margin-top: 62.5px;
    margin-left: auto;
    margin-right: auto;
}

.broadcast-text, .clients-text {
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin-top: 34.46px;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}

.broadcast-form {
    width: 100%;
    margin-top: 91.5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;  
    max-width: 800px;
}

.name-label,
.phone-label,
.email-label {
    width: 230px;
    flex-shrink: 0;
    height: 51px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
}

.phone-label {
    margin-right: 49px;  
}

.name-label label,
.phone-label label,
.email-label label {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    display: block;
}

.name-input-wrapper,
.phone-input-wrapper,
.email-input-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-label {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    white-space: nowrap;
}

.name-label input {
    width: 137.36px;
    height: 17px;
}

.phone-label input {
    width: 160px;
    height: 17px;
}

.name-label input,
.phone-label input,
.email-label input,
.question-label input{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border: none;
    padding: 0;
    outline: none;
    background: transparent;
    box-shadow: none;
}

.name-label input:focus,
.name-label input:active,
.name-label input:hover,
.question-label input:focus,
.question-label input:active,
.question-label input:hover,
.phone-label input:focus,
.phone-label input:active,
.phone-label input:hover,
.email-label input:focus,
.email-label input:active,
.email-label input:hover {
    outline: none;
    border: none;
    box-shadow: none;
    background: transparent;
}

.input-line {
    width: 231px;
    height: 1px;
    border: 1px solid rgba(54, 54, 54, 0.3);
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-top: 4px;
    margin-bottom: 0;
}

.submit-btn {
    width: 200px;
    height: 51px;
    min-width: 200px;
    flex-shrink: 0;
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.submit-btn span {
    /* width: 49px;
    height: 27px; */
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
}

.check-mark-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33.24px;
    gap: 8.62px;
}

.checkmark-1 {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #E3B873;
    display: inline-block;
    position: relative;
}

.agreement-checkbox input:checked + .checkmark-1 {
    background-color: #E3B873;
    border-color: #E3B873;
}

.agreement-checkbox input:checked + .checkmark-1::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* .check-mark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark img {
    width: auto;
    height: auto;
    display: block;
} */

.check-mark-text {
    height: 16.24px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}

.repair {
    margin-top: 75.85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.types-of-repair-text, .our-clients {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 13px;
}

.repair-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 9.47px;  
}

.repair-icon::before,
.repair-icon::after {
    content: "";
    width: 32px;
    height: 1.54px;
    background: #E3B873;
    border-radius: 30px;
    display: inline-block;
}

.repair-icon img {
    width: auto;
    height: auto;
    display: block;
}

.types-cards {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 31px;
}

.redecorating-card, .overhaul-card, .designer-repair-card {
    position: relative;
    display: inline-block;
    align-items: center;
}

.redecorating-card img, .overhaul-card img, .designer-repair-card img {
    width: 100%;
    height: auto;
    display: block;
}

.white-rectangle {
    position: absolute;
    top: 294px;
    left: 31px;
    width: calc(100% - 62px);
    height: 286px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.redecorating-title {
    position: absolute;
    top: 25px;
    left: 34px;
    width: 228px;
    height: 21px;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin: 0;
    padding: 0;
}

.redecorating-list {
    position: absolute;
    top: 59px;  
    left: 34px;
    width: 267px;
    height: 178px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin: 0;
    padding: 0;
    list-style: none;
}

.redecorating-list li {
    margin-bottom: 0;
    padding-left: 15px;
    position: relative;
}

.redecorating-list li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #959595;
}

.price-button {
    position: absolute;
    top: 260px;
    left: 0;
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    border: none;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 3;
    border-radius: 2px;
}

.measurements {
    width: 100%;
    background-image: url('./images/city_1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.measurements-block {
    display: flex;
    z-index: 2;
    margin-top: 413px;
    gap: 5%;
    justify-content: space-between;
}

.measurements-list {
    display: flex;
    flex-direction: column;
    gap: 5%;
    /*width: 40%;*/
    margin: 30px 0 30px 0;
    justify-content: space-between;
}

.measurements-list .list-1, .list-2, .list-3, .list-4 {
    position: relative;
    width: 50px;
    height: 50px;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}

.measurements-list img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.list-number {
    position: relative;
    z-index: 2;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.types-cards-items {
    position: relative;
}

.list-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.list-text {
     align-self: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #363636;
    max-width: 400px;
}

.measurements-form {
    position: relative;
    z-index: 1;

    background: #131313;
    height: 100%;
    display: block;
    padding: 30px 40px;
}

.measurements-form .name-label,
.measurements-form .phone-label,
.measurements-form .email-label,
.measurements-form .input-line {
    width: 100%;
     margin-bottom: 50px;
}

.measurements-form label,
.measurements-form .input-line
{
    color: rgba(209, 209, 209, 0.3);
    border-color: rgba(209, 209, 209, 0.3);
}

.measurements-form .input-label,
.measurements-form .agreement-checkbox {
    color: white;
}

.measurements-form-block {
    padding: 30px 40px;
    width: 45%;
}

.measurements-form .check-mark-wrapper {
    margin-top: 20px;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.measurements-form .submit-btn {
    float: right;
    margin-bottom: 30px;
}

.measurements-title {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 85px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.measurements-form .input-line {
    width: 100%;
}

.agreement-wrapper {
    margin-top: -80px;
    margin-bottom: 40px;
}

.agreement-checkbox {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.agreement-checkbox input {
    display: none;
}

.checkmark {
    width: 18px;
    height: 18px;
    background-color: #fff;
    display: inline-block;
    position: relative;
}
.agreement-checkbox input:checked + .checkmark {
    background-color: #E3B873;
    border-color: #E3B873;
}

.agreement-checkbox input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.save-block {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.circular-block {
    background-color: #E3B873;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    padding: 15px;
}

.circular-block img {
    width: 100%;
}

.text-block {
    color: #E3B873;
    align-self: center;
}

.apartment {
    background-image: url('./images/apartment.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    padding: 70px 0;
    margin-top: 250px;
}

.apartment::before {
    content: '';
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.apartment-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    position: relative;
}

.apartment-content {
    flex: 1;
    max-width: 40%;
}

.apartment-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 40px;
}

.apartment-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.apartment-list li {
    margin-bottom: 15px;
}

.apartment-list li a {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
}

.apartment-list li a:hover {
    color: #E3B873;
    border-bottom-color: #E3B873;
    text-decoration: underline;
}

.apartment-gallery {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 50%;
    top: -15%;
    position: absolute;
    right: 5%;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 6px;
}

.item-3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: -52px;
}

.item-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: -300px;
}

.clients {
    margin-top: 80px;
}

.our-clients {
    margin-bottom: 35px;
}

.customers {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 31px;
}

.customers-card {
    width: 30%;
    margin-bottom: 80px;
}

.white-rectangle-2 {
    position: relative;
    /* top: 294px;
    left: 31px; */
    /* width: calc(100% - 62px);
    height: 286px; */
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 400px;
}

.customers-title {
    display: flex;
    gap: 20px;
    align-items: center;
}

.customers-name {
    /* position: absolute; */
    /* top: 25px;
    left: 34px;
    width: 228px;
    height: 21px; */
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.customers-text {
    /* position: absolute; */
    /* top: 59px;  
    left: 34px;
    width: 267px;
    height: 178px; */
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 15px;
}

.customers-button {
    display: flex;
    position: absolute;
    width: 350px;
    bottom: -27px;
    left: 0;
}

.customers-button-1, .customers-button-2 {
    /* position: absolute; */
    /* top: 260px;
    left: 0; */
    width: calc(50% - 1px);
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    border: none;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 3;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.customers-button-1, .customers-button-2 {
    margin-right: 2px;
}

.align-self-center {
    align-self: center;
    display: inline-block;
}

.questions {
    background-image: url("./images/city_2.jpg");
    background-repeat: repeat-x;
    background-size: contain;
    height: 310px;
}

.questions .container {
    position: relative;
}

.questions-form {
    position: relative;
    z-index: 1;
    background: #131313;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 30px 40px;
    width: 100%;
}

.questions-form .name-label,
.questions-form .phone-label,
.questions-form .question-label,
.questions-form .input-line {
    width: 100%;
     margin-bottom: 0;
}

.questions-form label,
.questions-form .input-line
{
    color: rgba(209, 209, 209, 0.3);
    border-color: rgba(209, 209, 209, 0.3);
}

.questions-form .input-label,
.questions-form .agreement-checkbox {
    color: white;
}

.questions-form-block {
    padding: 30px 40px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 17.5%;
}

.questions-form .check-mark-wrapper {
    margin-top: 20px;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.questions-form .submit-btn {
    grid-column: span 2;
    float: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.questions-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    grid-column: span 2;
    margin-bottom: 20px;
}

.questions-form .name-label {
    grid-column: 1 / 2;
}

.questions-form .phone-label {
    grid-column: 2 / 3;
}

.questions-form .question-label {
    grid-column: span 2;
}

.questions-form .agreement-wrapper {
    grid-column: span 2;
    margin-top: 0;
    margin-bottom: 30px;
}

.questions-form .agreement-input-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.questions-form .input-line {
    width: 100%;
}

.agreement-wrapper {
    margin-top: -80px;
    margin-bottom: 40px;
}

.agreement-checkbox {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.agreement-checkbox input {
    display: none;
}

.checkmark {
    width: 18px;
    height: 18px;
    background-color: #fff;
    display: inline-block;
    position: relative;
}
.agreement-checkbox input:checked + .checkmark {
    background-color: #E3B873;
    border-color: #E3B873;
}

.agreement-checkbox input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.submit-btn-mobile {
    display: none;
}

.feedback {
    /*padding-top: 310px;*/
    /*margin-top: 80px;*/
    background-image: url("./images/city_3.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    padding: 310px 0 60px 0;
}

.feedback .container {
    /* display: flex; */
    flex-direction: column;   
    align-items: center;      
    text-align: center;
}

.feedback-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    font-weight: bold;
    margin-bottom: 20px;
}

.map {
    margin-top: 30px;
    width: 100%;
    max-width: 925px; 
    margin-left: auto;
    margin-right: auto;
}

.map img {
    width: 100%;
    height: auto;
    max-width: 925px;
    max-height: 465px;
    object-fit: cover;  
    display: block;
}

.footer {
    background-color: black;
    padding: 25px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
}

.footer-navigation {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-navigation_item {
    margin-right: 47px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
}

.footer-navigation_item a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.footer-navigation_item a:hover {
    color: #E3B873;
}

.footer-phone {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.footer-button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    cursor: pointer;
}

.footer-button:hover {
    background: #d49837;
}

@media (max-width: 1299px) {
    .container {
        max-width: 100%;
    }

    .header-navigation,
    .header button,
    .repair-icons,
    .project-nav,
    .clients,
    .measurements,
    .footer,
    .project-image,
    .submit-btn-desktop,
    .apartment-gallery,
    .apartment-list {
        display: none;
    }

    .hero-container button, .name-label, .phone-label, .email-label, .input-line, .project-image-mobile img, .agreement-input-wrapper, .submit-btn-mobile, .projects-description, .apartment-title {
        width: 100%;
    }

    .hero-container .button-calculate {
        margin-bottom: 35px;
    }

    .completed-projects .projects-container,
    .broadcast-form,
    .types-cards,
    .questions-form,
    .project-image-mobile,
    .submit-btn-mobile {
        display: block;
    }

    .completed-projects .left, .completed-projects .right {
        max-width: 100%;
    }

    .control {
        margin-top: 0px;
        background-color: #131313;
    }

    .broadcast-text, .input-label, .name-label label, .phone-label label, .email-label label, .agreement-checkbox {
        color: white;
    }

    .input-line {
        border-color: white;
    }

    .projects-title, .projects-description, .apartment-title {
        text-align: center;
    }

    .project-image-mobile .circular-block {
        position: absolute;
        top: 50%;
        text-align: center;
    }

    .project-image-mobile .circular-block img {
        width: 60%;
    }

    .arrow-left {
        left: 15px;
    }

    .arrow-right {
        right: 15px;
    }

    .project-info-grid {
        margin-top: 60px;
    }

    .control {
        padding-top: 80px;
        padding-bottom: 410px;
    }

    .repair-image {
        margin-top: 61px;
    }

    .name-label {
        margin-bottom: 70px;
    }

    .phone-label {
        margin-bottom: 34px;
    }

    .submit-btn-mobile {
        margin-top: 60px;
    }

    .broadcast-form {
        margin-left: 0;
        margin-right: 0;
    }

    .repair-icon {
        margin-bottom: 63px;
    }

    .types-cards {
        display: flex;
        flex-direction: column;
        gap: 250px;
    }

    .apartment {
        background-image: none;
        background-color: white;
        padding: 20px 0;
    }

    .apartment-content {
        width: 100%;
        max-width: 100%;
    }

    .questions, .feedback, .control, .completed-projects {
        background-image: none;
        background-color: #131313;
    }

    .questions-form-block {
        padding: 0;
        width: 100%;
        position: relative;
        margin: 0;
        left: 0;
    }

    .questions-form .name-label {
        margin-bottom: 60px;
    }

    .questions-form {
        padding: 0;
    }

    .questions-form .phone-label {
        margin-bottom: 50px;
    }

    .questions-title {
        margin-bottom: 50px;
    }

    .questions-form .agreement-wrapper {
        margin-top: 40px;
        margin-bottom: 55px;
        width: 100%;
    }

    .questions-form .agreement-input-wrapper {
        width: 100%;
    }

    .questions-form .submit-btn {
        max-width: 100%;
    }

    .feedback .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .feedback-text-block {
        margin-top: 60px;
    }

    .map, .map img {
        max-width: 100%;
    }

    .broadcast-form {
        position: absolute;
    }

}
